@import "../root";

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    word-break: break-word;
    line-break: auto;
}

.gradient-text {
    background: linear-gradient(to right top, #0B1957, #5784E6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: var(--size-xxxl);
    padding-bottom: var(--size-xxxl);

    &--background {
        background: var(--gradient-main);
        color: var(--color-white);


        * {
            color: var(--color-white);
        }
    }
}

.content {
    max-width: var(--max-size) !important;
    color: var(--color-blue-second);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    padding-right: var(--size-xs);
    padding-left: var(--size-xs);
}

.color {
    color: var(--color-blue-main);

    &--grey {
        color: var(--color-grey);
    }
}


.mobile-only {
    display: block;

    @media (min-width: $sm) {

        display: none;

    }
}

.desktop-only {
    display: none !important;

    @media (min-width: $sm) {

        display: block;

    }
}

.bg-light {
    background: var(--color-white);
}

.big-text {
    font-weight: 700;
}

.logo {
    &__img {
        display: block;
    }
}