.partners {
    position: relative;

    &__item {
        height: 250px;
        // background-color: var(--color-white);
        border-right: none;

        
       
    }

    &__card {
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: var(--size-sm);
        // border: 1px solid var(--color-grey-light);
        height: calc(100% - 2 * var(--size-sm));


    }

    &__image {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
    }


}