.partners {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 100%;
        height: 250px;
        width: 600px;
        border: var(--color-grey-light);

    }

    &::before {
        content: '';
        position: absolute;
        z-index: 9;
        bottom: 0;
        right: 100%;
        height: 250px;
        width: 600px;
        border: var(--color-grey-light);

    }

    &__item {
        height: 250px;
        background-color: var(--color-white);
        border: 1px solid var(--color-grey-light);
        border-right: none;

        &:nth-last-child(1) {
            border-right: 1px solid var(--color-grey-light);
            ;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--size-sm);
        border: 1px solid var(--color-grey-light);
        height: calc(100% - 2 * var(--size-sm));


    }

    &__image {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
    }


}