.partners {
    position: relative;

    &__item {
        height: 250px;
        // background-color: var(--color-white);
        border-right: none;



    }

    &__card {
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: var(--size-sm);
        // border: 1px solid var(--color-grey-light);
        height: calc(100% - 2 * var(--size-sm));


    }

    &__image {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
    }

    &__card {
        display: flex;
        height: auto;
        flex-direction: column;

        @include sm {
             flex-direction: row;

        }

        @include md {
             flex-direction: column;
             
        }

         @include xl {
             flex-direction: row;
             
        }

    }

    &__text {
        background: var(--color-white);
        width: 100%;
        padding: var(--size-sm);

        * {
            color: var(--color-blue-second);
            font-weight: 700;
        }
    }

    &__headline {
        font-size: var(--size-md);
        line-height: 1;
    }

    &__description {
        font-size: var(--size-xxs);
    }

    &__photo {
        width: auto;
        aspect-ratio: 1;

        &--full {
            aspect-ratio: auto;
            width: 100%;
            height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}