// брейкпоинты
$xl: 1300px;
$md: 920px;
$regular: 768px;
$sm: 640px;
$xs: 320px;

:root {
  
    --color-blue-main: #5784e6;
    --color-blue-second: #0b1957;
    --color-orange: #f27028;
    --color-orange-second: #f59324;
    --color-regular: #343434;
    --color-grey: #7d7d7d;
    --color-grey-light: #efefef;
    --color-white: #fff;

    --gradient-main: linear-gradient(103.4deg, #000000 0.33%, #103F77 100%);


    --size-base: calc(min(100vh, 100vw) * 0.02 + max(100vh, 100vw) * 0.008);

    --size-xxxxs: calc(var(--size-base) * 0.2);
    --size-xxxs: calc(var(--size-base) * 0.4);
    --size-xxs: calc(var(--size-base) * 0.6);
    --size-xs: calc(var(--size-base) * 0.8);
    --size-sm: calc(var(--size-base) * 1);
    --size-md: calc(var(--size-base) * 1.2);
    --size-lg: calc(var(--size-base) * 2);
    --size-xl: calc(var(--size-base) * 2.5);
    --size-xxl: calc(var(--size-base) * 5);
    --size-xxxl: calc(var(--size-base) * 10);

    --radius-lg: 24px;
    --radius-sm: 8px;

    --lh-xl: 1.6;
    --lh-lg: 1.4;
    --lh-md: 1.2;


    --max-size: 1140px;

 
    --border-h-lg: 4px;
    --border-h-md: 2px;


}
